@*<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>*@

<section>

    <div class="well bs-component">
        <br />

        <div class="row">
            <div>
                <table class="table table-bordered table-hover"
                        id="TableId"
                        cellspacing="0"
                        align="center"
                        width="100%">
                    <thead>
                        <tr>
                            <th>Sr</th>
                            <th>Order Track Number</th>
                            <th>Quantity</th>
                            <th>Product Name</th>
                            <th>Special Offer</th>
                            <th>Unit Price</th>
                            <th>Unit Price Discount</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>